<h2>Where to find <%= @brand.name %></h2>
<hr>
<h3><%= @brand.name %> can be found in these stores:</h3>
<% if @brand.stores.any? %>
  <ul>
    <% @brand.stores.each() do |store| %>
    <li><%= store.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>This brand is not currently being carried by any stores.</p>
  <br>
  <p><a href="/brands">Add brands to database</a></p>
<% end %>
<h4>Assign stores to this brand:</h4>
<form action="/brands/<%= @brand.id %>" method="post">
<input type="hidden" name="_method" value="patch">
<label for="brand_choose">Choose Stores:</label>
<br>
  <% @stores.each() do |store| %>
  <input type="checkbox" name="store_id[]" id ='store_id[]' value="<%= store.id %>"> <strong><%= store.name %></strong><br>
  <% end %>
  <br>
  <button type="submit">Add Stores</button>
</form>
